.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 210, 126);
    border-radius: 50px 0 0 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}